<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/angularjs/1.6.4/angular.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script th:src="@{/resources/js/Valid.js}"></script>
    <title th:text="#{label.form.title}">form</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <tbody id="signupbox" style="display:none; margin-top:50px"
           class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
        </div>
        <div class="panel-body">
            <form autocomplete="off" th:action="@{/registration}"
                  th:object="${userDto}" method="post"
                  role="form" class="form-horizontal" enctype="utf8">
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}"></label>
                    <div class="col-md-9">
                        <input type="text" th:field="*{firstName}" placeholder="First Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                           class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control"/>
                    </div>

                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="email" placeholder="Enter Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input type="text" style="display:none;">
                        <input autocomplete="false" id="password" name="password" type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/>
                        <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
                           class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input type="text" style="display:none;"/>
                        <input autocomplete="false" id="matchPassword" name="matchingPassword" type="password"
                               th:field="*{matchingPassword}"
                               placeholder="Matching Password" class="form-control"/>
                        <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <!-- to enable captcha uncomment the keys in application.properties -->
                    <label class="col-sm-3"></label>
                    <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}"
                         data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                    <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" th:text="Registration" type="submit" class="btn btn-info"><i
                                class="icon-facebook"></i> Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </tbody>
</div>

</body>


</html>